In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("./dummycsv.csv")

In [3]:
data

        path  gender     age
0    xyc.jpg    male   young
1    abc.png  female     old
2    abc.jpg    male  middle
3  teate.jpg  female   young
4  asdas.png    male     old

In [4]:
y_pred_gender = ["male", "female", "female", "female", "male"]
y_true_gender = data["gender"]

In [5]:
male_correct_count_gender = 0
female_correct_count_gender = 0
for i in range(data.shape[0]):
    if(y_true_gender[i]=="male" and y_pred_gender[i]=="male"):
        male_correct_count_gender+=1
    if(y_true_gender[i]=="female" and y_pred_gender[i]=="female"):
        female_correct_count_gender+=1
print(male_correct_count_gender, female_correct_count_gender)

2 2

In [6]:
y_pred_age = ["young", "old", "old", "middle", "young"]
y_true_age = data["age"]

In [7]:
young_correct_count_age = 0
middle_correct_count_age = 0
old_correct_count_age = 0
for i in range(data.shape[0]):
    if(y_true_age[i]=="young" and y_pred_age[i]=="young"):
        young_correct_count_age+=1
    if(y_true_age[i]=="middle" and y_pred_age[i]=="middle"):
        middle_correct_count_age+=1
    if(y_true_age[i]=="old" and y_pred_age[i]=="old"):
        old_correct_count_age+=1
print(young_correct_count_age, middle_correct_count_age, old_correct_count_age)

1 0 1